// Define variables for your color scheme

// For example:
$red: #692340;
$blue: #377dff;
$cyan: #334AC0;
$yellow: #FDC994;
$orange: #E67E22;
$green: #13AF97;
$gray: #51596C;
$light-gray: #F9FAFC;
$dark: #21325b;

// colors in front theme
$primary:       $blue;
$secondary:     $gray;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;
