 <%= render "layouts/banner" %>

<h2 class="m-5"> Ecrivez la ville de votre destination</h2>
<div class="barre-recherche m-5">
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>
</div>

<hr>

<!-- Stats -->
<div class="bg-light rounded-2 mx-3 mx-lg-10">
  <div class="container content-space-2">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
        <!-- Stats -->
        <div class="text-center">
          <h2 class="display-4"><i class="bi-arrow-down-short text-danger"></i>47%</h2>
          <p class="mb-0">fewer meetings across<br>organizations</p>
        </div>
        <!-- End Stats -->
      </div>
      <!-- End Col -->

      <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
        <!-- Stats -->
        <div class="text-center">
          <h2 class="display-4"><i class="bi-arrow-up-short text-success"></i>23%</h2>
          <p class="mb-0">increase in traffic on<br>webpages with Looms</p>
        </div>
        <!-- End Stats -->
      </div>
      <!-- End Col -->

      <div class="col-sm-6 col-md-4">
        <!-- Stats -->
        <div class="text-center">
          <h2 class="display-4"><i class="bi-arrow-up-short text-success"></i>9.3%</h2>
          <p class="mb-0">boost in reply rates across<br>sales outreach</p>
        </div>
        <!-- End Stats -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
</div>
<!-- End Stats -->



